body{
  background-color: #f1f1f1;
  padding: 0;
  margin :0;
  overflow-x: hidden;
}

header {
  background-color: #292929;
  padding: 20px;
  box-shadow: 0 0 3px #000;
  text-align: center;
}

header ul {
  position: relative;
  top: 38px;
}


header li {
  display: inline;
  padding-left: 45px;
}

header li a{
  color: #e1b8a8;
  text-decoration: none;
  padding: 13px;
  display: inline-flex;
}

header li a:hover{
    color: white;
}

header ul #contact a {
  color: #fff;
  background-color: #33373b;
  border-radius: 30px;
  float: right;
  position: relative;
  top: -15px;
}

header ul #contact a:hover {
  background-color: #ff9a73;
}


header li a img {
  width: 235px;
  margin-top: -102px;
  float: left;
  text-align: center;
  margin-left: -382px;
  margin-right: 180px;
  display: flex;
}

#navigation {
  width: 200px;
  list-style: none;
  margin: 0;
  padding: 0;
}

#navigation li {
  background: #7a69a4 ;
  color: white ;
  border: 1px solid #600 ;
  margin-bottom: 1px ;
}

#navigation li a {
  display: block ;
  background: #e1b8a8 ;
  color: white;
  font: 1em "Trebuchet MS",Arial,sans-serif ;
  line-height: 1em ;
  text-align: center ;
  text-decoration: none ;
  padding: 4px 0 ;
}

#navigation li a:hover, #navigation li a:focus, #navigation li a:active {
  background:#ff9a73 ;
  text-decoration: underline ;
}



.menu {
  background-color: #292929;
  padding: 18px;
  box-shadow: 0 0 3px #000;
  text-align: center;
  float: left;
  min-height:770px;
  max-height: 1500px;
  margin-top:0px;
}

.menu ul {
  top: 1px;
}

footer {
  background-color:#292929;
  box-shadow: 0 0 3px #000;
  text-align: center;
  margin-bottom: 0px;
  padding: 3px;
  position: absolute;
  bottom: 0;
  width: 100%;
}

footer p{
  text-align: center;
  color: white;
}

.principale {
  text-align: center;
  position: relative;
  top: 100px;
  left: 360px;
  height: 0px;
}

  .principale table{
    border-collapse: collapse;
  }

  .principale table td {
    border: 1px solid black;
    padding: 10px;
  }

.SearchBar input {

  border: 3px solid #292929;
  height: 40px;
  width: 300px;
  border-radius: 50px;
  padding: 0px 10px;
  position: absolute;
  left: 700px;
  top: -70px;
}
